.photo-grid {
    margin: 0 auto;
    display: grid;
    margin-bottom: 92px;
    max-width: 1184px;
    min-height: 671px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

