.photo-grid {
    margin: 0 auto;
    display: grid;
    margin-bottom: 92px;
    max-width: 1184px;
    min-height: 671px;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px 16px;
}

