.cover__subtitle {
    color: #fff;
    margin: 0;
    padding: 0;
    max-width: 360px;
    /* min-height: 66px; */
    text-align: center;
    font-weight: normal;
    line-height: 22px;
    font-size: 18px;
    position: relative;
}

@media (min-width: 320px) and (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        /* max-width: calc(100% - 36px); */
    }
}