.intro__text {
    color: #fff;
    max-width: 690px;
    text-align: left;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26.08px;
    margin: 0;
    font-style: normal;
    margin-bottom: 33px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .intro__text {
        max-width: 720px;
    }
}

