.lead__caption {
    max-width: 160px;
    margin: 0;
    margin-top: 8px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
    text-align: left;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead__caption {
        margin-left: 16px;
    }
}

@media (min-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}