.place__website {
    max-width: 456px;
    justify-self: start;
    align-self: end;
}

@media (min-width: 320px) and (max-width: 767px) {
    .place__url-heading {
        margin-left: 16px;
    }
}